# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Env
.env
.env.local
.env*.local
.supabase-provision.sql

# Debug
npm-debug.log*

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Test
coverage/
